<header class="bar-title">
	<%= link_to image_tag("/assets/icon-close.png", :height => "20px"), events_path, class: "button", :style => "padding-top: 8px;" %>
	<h1 class="title">Sign in</h1>
</header>

<div class="content">
	<div class="content-padded">

		<% if flash[:error] %>
		    <div class="signin-error">
		    	<p><%= flash[:error] %></p>
		    </div>
		<% end %>

		<%= form_for(:user, url: new_user_session_path) do |f| %>
		    <%= f.label :email, :style => "display: none;" %>
		    <%= f.email_field :email, :placeholder => "Email", :autocorrect => "off", :autocapitalize => "off" %>
		    <br />

		    <%= f.label :password, :style => "display: none;" %>
		    <%= f.password_field :password, :placeholder => "Password" %>
		    <br />

		    <%= f.submit 'Sign in', class: "button-main button-block" %>
		    <br />
		<% end %>
	</div>
</div>