<header class="bar-title">
	<%= link_to "Cancel", events_path, class: "button" %>
	<h1 class="title">Sign in</h1>
</header>

<div class="content">
	<div class="content-padded">

		<%= form_for(:session, url: sessions_path) do |f| %>
		    <%= f.label :email, :style => "display: none;" %>
		    <%= f.text_field :email, :placeholder => "Email" %>
		    <br />

		    <%= f.label :password, :style => "display: none;" %>
		    <%= f.password_field :password, :placeholder => "Password" %>
		    <br />

		    <%= f.submit 'Sign in', class: "button" %> 
		    <br />
		<% end %>
	</div>
</div>