<% if @event.start > Time.now %>
	<div class="comment-form">
	  <h3>Add comment</h3>
	  <%= simple_form_for comment, :remote => true, :html => {:id => "comment-form"} do |f| %>
	    <%= f.input :body, :input_html => { :rows => "2" }, :label => false %>
	    <%= f.input :commentable_id, :as => :hidden, :value => comment.commentable_id %>
	    <%= f.input :commentable_type, :as => :hidden, :value => comment.commentable_type %>
	    <%= f.submit 'Add comment', :class => "button-main button-block", :disable_with => "Adding…" %>
	  <% end %>
	</div>
<% end %>