<div class="content">
	<div class="content-padded">

		<% if flash.now[:message] %>
		    <div class="profile-updated">
		    	<p><%= flash[:message] %></p>
		    </div>
		<% end %>

		<% if flash.now[:error] %>
			<div class="error-explanation edit-user">
				<p><%= flash[:error] %></p>
			</div>
		<% end %>

		<%= form_for @user do |f| %>

			<%= f.label :firstName, 'First Name', :style => "display: none;" %>
			<%= f.text_field :firstName, :placeholder => "First name" %>
			<% if @user.errors[:firstName].any? %>
			  <div class="error-explanation">
				<p>A first name less than 30 characters is required.</p>
			  </div>
			 <% end %>
			<br />

			<%= f.label :lastName, 'Last Name', :style => "display: none;" %>
			<%= f.text_field :lastName, :placeholder => "Last name" %>
			<% if @user.errors[:lastName].any? %>
			  <div class="error-explanation">
				<p>A last name less than 30 characters is required.</p>
			  </div>
			<% end %>
			<br />

			<%= f.label :email, 'Email', :style => "display: none;" %>
			<%= f.email_field :email, :placeholder => "Email" %>
			<% if @user.errors[:email].any? %>
			  <div class="error-explanation">
				<p>Please make sure you're email is correct.</p>
			  </div>
			<% end %>
			<br />

			<%= f.label :mobile, 'Mobile (Numbers only)', :style => "display: none;" %>
			<%= f.phone_field :mobile, :placeholder => "Mobile (numbers only)" %>
			<% if @user.errors[:mobile].any? %>
			  <div class="error-explanation">
				<p>Please enter a number using only numbers, such as: 4156785555.</p>
			  </div>
			<% end %>
			<br />

<!-- 			<%= f.label :password, 'Update Password', :style => "display: none;" %>
			<%= f.password_field :password, :placeholder => "Enter new password to change it" %>
			<% if @user.errors[:password].any? %>
			  <div class="error-explanation">
				<p>Please choose a password longer than 6 characters.</p>
			  </div>
			<% end %>
			<br /> -->
			<div style="margin-top: 13px; margin-bottom: 23px;">
				<%= f.check_box(:opt_out) %>
				<%= f.label(:opt_out, "Don't send me text messages") %>
				<br />
			</div>
			
			<%= f.submit 'Update', class: "button-main button-block" %>

		<% end %>
	</div>
</div>
