<header class="bar-title">
	<%= link_to "Cancel", events_path, class: "button" %>
	<h1 class="title">Sign up</h1>
</header>

<div class="content">
	<div class="content-padded">

		<%= form_for @user do |f| %>

			<%= f.label :firstName, 'First Name', :style => "display: none;" %>
			<%= f.text_field :firstName, :placeholder => "First name" %>
			<br />

			<%= f.label :lastName, 'Last Name', :style => "display: none;" %>
			<%= f.text_field :lastName, :placeholder => "Last name" %>
			<br />

			<%= f.label :email, 'Email', :style => "display: none;" %>
			<%= f.text_field :email, :placeholder => "Email" %>
			<br />

			<%= f.label :mobile, 'Mobile', :style => "display: none;" %>
			<%= f.text_field :mobile, :placeholder => "Mobile (numbers only)" %>
			<br />

			<%= f.label :password, 'Password', :style => "display: none;" %>
			<%= f.password_field :password, :placeholder => "Password" %>
			<br />

			<%= f.submit 'Sign up', class: 'button' %>

		<% end %>

	</div>
</div>
