<%= link_to "Back to Events", root_path %>
<h1><%= @user.firstName %> <%= @user.lastName %></h1> 
<% if signed_in? %>
	<p>
		<%= link_to "Edit profile", edit_user_path %> | <%= link_to "Sign out", signout_path, method: "delete" %>
	</p>
<% else %>
	<p>
		<%= link_to "Sign in", signin_path %>
	</p>
<% end %>

<h2>Matches</h2>
	<ul>
		<% User.find(current_user.id).events.each do |e| %>
			<li><%= link_to(event_path(e.id)) do %><%= e.start.strftime("%a, %b %e at %l:%M%P") %><% end %></li>
			<li><%= e.location %></li>
			<li><%= e.users.count %>/<%=e.needed %></li>
			<br />
		<% end %>
	</ul>
