<header class="bar-title">
	<%= link_to "Cancel", event_path, class: "button" %>
	<h1 class="title">Edit match</h1>
</header>


<div class="content">
	<div class="content-padded">
		<%= form_for @event do |f| %>
			<div class="input-group">
				<div class="input-row">
					<%= f.label :needed, 'NEEDED' %>
					<%= f.select :needed, options_for_select([
						["1", "1"],
						["2", "2"],
						["3", "3"],
						["4", "4"],
						["5", "5"],
						["6", "6"],
						["7", "7"],
						["8", "8"],
						["9", "9"],
						["10", "10"],
						["11", "11"],
						["12", "12"],
						["13", "13"],
						["14", "14"],
						], @event.needed) %>
					<br />
				</div>

				<div class="input-row">
					<%= f.label :start, 'STARTS' %>
					<%= datetime_select("event", "start", :order => [:month, :day], :use_short_month => true, :ampm => true, :minute_step => 15, :datetime_separator => '') %>
					<br />
				</div>

				<div class="input-row">
					<%= f.label :location, 'LOCATION' %>
					<%= f.select :location, options_for_select([
						["Balboa High School", "Balboa High School"],
						["Beach Chalet", "Beach Chalet"],
						["Crocker Amazon", "Crocker Amazon"],
						["Franklin Square Playfield", "Franklin Square Playfield"],
						["Kezar Stadium", "Kezar Stadium"],
						["Kimbell Playground", "Kimbell Playground"],
						["Pollicita Middle School", "Pollicita Middle School"],
						["Polo Fields", "Polo Fields"],
						["Silver Terrace Playground", "Silver Terrace Playground"],
						], @event.location) %>
					<br />
				</div>


				<div class="input-row">
					<%= f.label :league, 'LEAGUE' %>
					<%= f.select :league, options_for_select([
						["iPlayFor", "iPlayFor"],
						["Golden Gate Women's", "Golden Gate Women's"],
						["SF Soccer Football", "SF Soccer Football"],
						["Sports4Good", "Sports4Good"],
						["SF Co-ed Rec Soccer", "SF Co-ed Rec Soccer"],
						["NorCal Athletics", "NorCal Athletics"],
						], @event.league) %>
					<br />
				</div>


				<div class="input-row">
					<%= f.label :skill_level, 'SKILL' %>
					<%= f.select :skill_level, options_for_select([
						["Beginner", "Beginner"],
						["Recreational", "Recreational"],
						["Intermediate", "Intermediate"],
						["Competitive", "Competitive"],
						], @event.skill_level) %>
					<br />
				</div>


				<div class="input-row">
					<%= f.label :field_type, 'FIELD' %>
					<%= f.select :field_type, options_for_select([
						["Grass", "Grass"],
						["Turf", "Turf"],
						["Hardcourt", "Hardcourt"],
						], @event.field_type) %>
					<br />
				</div>
			</div>

			<h3 class="match-note"><%= f.label :note, 'NOTE' %></h3> <span class="match-note-parens">Max 140 characters</span><br />
			<%= f.text_area :note, :cols => 40, :rows => 2 %>
			<br />

			<%= f.submit 'Update', class: 'button-main button-block' %>

			<% if signed_in? && current_user.id == @event.organizer %>
					<%= link_to "Delete match", event_path, :method => "DELETE", class: "button-negative button-block", style: "margin: 30px 0 15px 0;" %>
			<% end %>

		<% end %>
	</div>
</div>
