<header class="bar-title">
	<% if signed_in? %>
		<a href="/users/<%= current_user.id %>/edit" class="button">Profile</a>
	<% else %>
		<%= link_to "Sign in", signin_path, class: "button" %>
	<% end %> 

	<h1 class="title">
		<span style="display: none;">Footy Subs</span>
		<img src="/assets/footy-subs.png" style="margin-top: 7px;" width="97px" height="35px">
	</h1>
	<% if signed_in? %>
		<%= link_to "Post", new_event_path, class: "button" %>
	<% else %>
		<%= link_to "Sign up", new_user_path, class: "button" %>
	<% end %>
</header>

<div class="content">

		<ul class="list">

		<% if signed_in? %>

			<% @joined.each do |e| %>
				<% if e.status == "open" && e.users.include?(current_user) || e.status == "full" && e.users.include?(current_user) %>
					<li class="joined"><%= link_to(event_path(e.id)) do %><strong><%= e.start.strftime("%a, %b %e at %l:%M%P") %></strong>
					<span class="count">Joined</span>
					<p><%= e.location %></p><% end %>
					</li>
				<% end %>
			<% end %>

			<div class="lastOpen">
				<% @open.each do |e| %>
					<% if e.users.exclude?(current_user) %>
						<li><%= link_to(event_path(e.id)) do %><strong><%= e.start.strftime("%a, %b %e at %l:%M%P") %></strong>
						<span class="count"><%= e.users.count %> / <%= e.needed %></span>
						<p><%= e.location %></p><% end %>
						</li>
					<% end %>
				<% end %>
			</div>

			<% @full.each do |e| %>
				<% if e.users.exclude?(current_user) %>
					<li class="expired"><%= link_to(event_path(e.id)) do %><strong><%= e.start.strftime("%a, %b %e at %l:%M%P") %></strong>
					<span class="count">Full</span>
					<p><%= e.location %></p><% end %>
					</li>
				<% end %>
			<% end %>


			<% @ended.limit(15).each do |e| %>
					<li class="expired"><%= link_to(event_path(e.id)) do %><strong><%= e.start.strftime("%a, %b %e at %l:%M%P") %></strong>
					<span class="count">Ended</span>
					<p><%= e.location %></p><% end %>
					</li>
			<% end %>

		<% end %>

		<% if ! signed_in? %>
			
			<div class="lastOpen">
				<% @open.each do |e| %>
					<li><%= link_to(event_path(e.id)) do %><strong><%= e.start.strftime("%a, %b %e at %l:%M%P") %></strong>
					<span class="count"><%= e.users.count %> / <%= e.needed %></span>
					<p><%= e.location %></p><% end %>
					</li>
				<% end %>
			</div>

			<% @full.each do |e| %>
					<li class="expired"><%= link_to(event_path(e.id)) do %><strong><%= e.start.strftime("%a, %b %e at %l:%M%P") %></strong>
					<span class="count">Full</span>
					<p><%= e.location %></p><% end %>
					</li>
			<% end %>

			<% @ended.limit(15).each do |e| %>
					<li class="expired"><%= link_to(event_path(e.id)) do %><strong><%= e.start.strftime("%a, %b %e at %l:%M%P") %></strong>
					<span class="count">Ended</span>
					<p><%= e.location %></p><% end %>
					</li>
			<% end %>

		<% end %>

		</ul>

</div>
