<div class="content">

		<ul class="list">

		<% if signed_in? %>
			<div class="lastOpen">
				<% @organized.each do |e| %>
					<% if e.status == "open" || e.status == "full" %>
						<li class="organized"><%= link_to(match_path(e.id)) do %><span><%= e.start.strftime("%a, %b %e at %l:%M%P") %></span>
						<span class="count">You have <%= e.users.count %> of <%= e.needed %></span>
						<p><%= e.location %></p><% end %>
					  </li>
					<% end %>
				<% end %>

				<% @joined.each do |e| %>
					<% if e.status == "open" && e.users.include?(current_user) || e.status == "full" && e.users.include?(current_user) %>
						<li class="joined"><%= link_to(match_path(e.id)) do %><span><%= e.start.strftime("%a, %b %e at %l:%M%P") %></span>
						<span class="count">Joined</span>
						<p><%= e.location %></p><% end %>
						</li>
					<% end %>
				<% end %>

				<% @open.each do |e| %>
					<% if e.users.exclude?(current_user) && e.organizer_id != current_user.id %>
						<li class="open"><%= link_to(match_path(e.id)) do %><span><%= e.start.strftime("%a, %b %e at %l:%M%P") %></span>
						<span class="count"><%= e.users.count %> / <%= e.needed %></span>
						<p><%= e.location %></p><% end %>
						</li>
					<% end %>
				<% end %>
			</div>

			<% @full.each do |e| %>
				<% if e.users.exclude?(current_user) && e.organizer_id != current_user.id  %>
					<li class="expired"><%= link_to(match_path(e.id)) do %><%= e.start.strftime("%a, %b %e at %l:%M%P") %>
					<span class="count">Full</span>
					<p><%= e.location %></p><% end %>
					</li>
				<% end %>
			<% end %>


			<% @ended.limit(15).each do |e| %>
					<li class="expired"><%= link_to(match_path(e.id)) do %><%= e.start.strftime("%a, %b %e at %l:%M%P") %>
					<span class="count">Ended</span>
					<p><%= e.location %></p><% end %>
					</li>
			<% end %>

		<% end %>

		<% if ! signed_in? %>

			<div class="lastOpen">
				<% @open.each do |e| %>
					<li class="open"><%= link_to(match_path(e.id)) do %><span><%= e.start.strftime("%a, %b %e at %l:%M%P") %></span>
					<span class="count"><%= e.users.count %> / <%= e.needed %></span>
					<p><%= e.location %></p><% end %>
					</li>
				<% end %>
			</div>

			<% @full.each do |e| %>
					<li class="expired"><%= link_to(match_path(e.id)) do %><span><%= e.start.strftime("%a, %b %e at %l:%M%P") %></span>
					<span class="count">Full</span>
					<p><%= e.location %></p><% end %>
					</li>
			<% end %>

			<% @ended.limit(15).each do |e| %>
					<li class="expired"><%= link_to(match_path(e.id)) do %><%= e.start.strftime("%a, %b %e at %l:%M%P") %>
					<span class="count">Ended</span>
					<p><%= e.location %></p><% end %>
					</li>
			<% end %>

		<% end %>

		</ul>

</div>
