<h1>Footy Subs</h1>

<% if signed_in? %>
<p>	
	<%= link_to "Profile", current_user %>
</p>
<p>
	<%= link_to "Post match", new_event_path %>
</p>
<% else %>
	<%= link_to "Sign in", signin_path %> or <%= link_to "Sign up", new_user_path %> to join or post match
<% end %> 

<ul>

	<% if signed_in? %>

		<% @open.each do |e| %>
			<% if e.users.include?(current_user) %>
				<li><%= link_to(event_path(e.id)) do %><%= e.start.strftime("%a, %b %e at %l:%M%P") %><% end %></li>
				<li><%= e.location %></li>
				<li>Joined / Open</li>
				<br />
			<% end %>
		<% end %>

		<% @full.each do |e| %>
			<% if e.users.include?(current_user) %>
				<li><%= link_to(event_path(e.id)) do %><%= e.start.strftime("%a, %b %e at %l:%M%P") %><% end %></li>
				<li><%= e.location %></li>
				<li>Joined / Full</li>
				<br />
			<% end %>
		<% end %>

		<% @open.each do |e| %>
			<% if e.users.exclude?(current_user) %>
				<li><%= link_to(event_path(e.id)) do %><%= e.start.strftime("%a, %b %e at %l:%M%P") %><% end %></li>
				<li><%= e.location %></li>
				<li><%= e.users.count %> / <%= e.needed %></li>
				<br />
			<% end %>
		<% end %>

		<% @full.each do |e| %>
			<% if e.users.exclude?(current_user) %>
				<li><%= link_to(event_path(e.id)) do %><%= e.start.strftime("%a, %b %e at %l:%M%P") %><% end %></li>
				<li><%= e.location %></li>
				<li>Full</li>
				<br />
			<% end %>
		<% end %>

		<% @ended.each do |e| %>
				<li><%= link_to(event_path(e.id)) do %><%= e.start.strftime("%a, %b %e at %l:%M%P") %><% end %></li>
				<li><%= e.location %></li>
				<li>Ended</li>
				<br />
		<% end %>

	<% end %>

	<% if ! signed_in? %>
		
		<% @open.each do |e| %>
				<li><%= link_to(event_path(e.id)) do %><%= e.start.strftime("%a, %b %e at %l:%M%P") %><% end %></li>
				<li><%= e.location %></li>
				<li><%= e.users.count %> / <%= e.needed %></li>
				<br />
		<% end %>

		<% @full.each do |e| %>
			<li><%= link_to(event_path(e.id)) do %><%= e.start.strftime("%a, %b %e at %l:%M%P") %><% end %></li>
			<li><%= e.location %></li>
			<li>Full</li>
			<br />
		<% end %>

		<% @ended.each do |e| %>
				<li><%= link_to(event_path(e.id)) do %><%= e.start.strftime("%a, %b %e at %l:%M%P") %><% end %></li>
				<li><%= e.location %></li>
				<li>Ended</li>
				<br />
		<% end %>

	<% end %>

</ul>
