<h1>Footy Subs</h1>

<% if signed_in? %>
<p>	
	<%= link_to "Profile", current_user %>
</p>
<p>
	<%= link_to "Post match", new_event_path %>
</p>
<% else %>
	<%= link_to "Sign in", signin_path %> or <%= link_to "Sign up", new_user_path %> to join or post match
<% end %> 

<ul>
	<% @events.each do |e| %>
		<li><%= link_to(event_path(e.id)) do %><%= e.start.strftime("%a, %b %e at %l:%M%P") %><% end %></li>
		<li><%= e.location %></li>
		
		<% if e.start < DateTime.current %>
			<li>Ended</li>
		<% elsif e.start > DateTime.current && e.users.count == e.needed %>
			<li>Full</li>
		<% else %>
			<li><%= e.users.count %> / <%= e.needed %></li>
		<% end %>
		
		<br />
	<% end %>
</ul>
