<div class="content">
	<div class="content-padded">
		<%= form_for @event do |f| %>
		<div class="input-group">
			<%= f.hidden_field :organizer_id, :value => current_user.id %>
			<%= f.hidden_field :status, :value => "open" %>
			<div class="input-row">
				<%= f.label :needed, 'NEEDED' %>
				<%= f.select :needed, options_for_select([
					["1", "1"],
					["2", "2"],
					["3", "3"],
					["4", "4"],
					["5", "5"],
					["6", "6"],
					], @event.needed) %>
				<br />
			</div>

			<div class="input-row">
				<%= f.label :start, 'STARTS' %>
				<%= datetime_select("event", "start", :order => [:month, :day], :use_short_month => true, :ampm => true, :minute_step => 15, :datetime_separator => '') %>
				<select id="event_start_ampm">
					<option value="0">AM</option>
					<option value="1">PM</option>
				</select>
				<br />
			</div>

			<div class="input-row">
				<%= f.label :location, 'LOCATION' %>
				<%= f.select :location, options_for_select([
					["Crocker Amazon", "Crocker Amazon"],
					["Balboa High School", "Balboa High School"],
					["Beach Chalet", "Beach Chalet"],
					["Boxer Stadium", "Boxer Stadium"],
					["Franklin Square Playfield", "Franklin Square Playfield"],
					["Garfield Playground", "Garfield Playground"],
					["Galileo Academy Field", "Galileo Academy Field"],
					["Kezar Stadium", "Kezar Stadium"],
					["Kimbell Playground", "Kimbell Playground"],
					["Pollicita Middle School", "Pollicita Middle School"],
					["Polo Fields", "Polo Fields"],
					["Silver Terrace Playground", "Silver Terrace Playground"]
					]) %>
				<br />
			</div>

			<div class="input-row">
				<%= f.label :league, 'LEAGUE' %>
				<%= f.select :league, options_for_select([
					["Sports4Good", "Sports4Good"],
					["NorCal Athletics", "NorCal Athletics"],
					["I Play For", "I Play For"],
					["Golden Gate Women's", "Golden Gate Women's"],
					["SF Soccer Football", "SF Soccer Football"],
					["SF Co-ed Rec Soccer", "SF Co-ed Rec Soccer"]
					]) %>
				<br />
			</div>


			<div class="input-row">
				<%= f.label :skill_level, 'SKILL' %>
				<%= f.select :skill_level, options_for_select([
					["Recreational", "Recreational"],
					["Beginner", "Beginner"],
					["Intermediate", "Intermediate"],
					["Competitive", "Competitive"],
					]) %>
				<br />
			</div>


			<div class="input-row">
				<%= f.label :field_type, 'FIELD' %>
				<%= f.select :field_type, options_for_select([
					["Turf", "Turf"],
					["Grass", "Grass"],
					["Hardcourt", "Hardcourt"],
					]) %>
				<br />
			</div>
		</div>

			<h3 class="match-note"><%= f.label :note, 'NOTE' %></h3> <span class="match-note-parens">Max 140 characters</span><br />
			<%= f.text_area :note, :cols => 40, :rows => 2 %>

			<%= f.submit 'Post match', class: 'button-main button-block' %>
		
		<% end %>
	</div>
</div>
