<%= link_to "Back to Events", root_path %>

<h1><%= @event.needed %> needed</h1>

<% if current_user.id == @event.organizer %>
	<p>
	<%= link_to "edit", edit_event_path %> <%= link_to "delete", event_path, :method => "DELETE" %>
	</p>
<% end %>

	<% if signed_in? %>

		<% if @event.users.select { |u| u.id == current_user.id }.empty? == true %>
			<%= form_for @event, :url => join_path do |f| %>
				<%= f.hidden_field :event_id, :value => @event.id %>
				<%= f.submit('Join') %>
			<% end %> 
		<% end %>

		<% if @event.users.select { |u| u.id == current_user.id }.empty? == false %>
			<%= form_for @event, :url => leave_path do |f| %>
				<%= f.hidden_field :event_id, :value => @event.id %>
				<%= f.submit('Leave') %>
			<% end %>
		<% end %> 

	<% end %>

<ul>
	<li><strong>When:</strong> <%= @event.start.strftime("%A, %b %e at %l:%M%P") %></li>
	<li><strong>Where:</strong> <%= @event.location %></li>
	<li><strong>League:</strong> <%= @event.league %></li>
	<li><strong>Skill:</strong> <%= @event.skill_level %></li>
	<li><strong>Field:</strong> <%= @event.field_type %></li>
	<li><strong>Note:</strong> <%= @event.note %></li>
</ul>

<h2>Subs:</h2>

<ul>
	<% @event.users.each do |u| %>
		<li><%= u.firstName %> <%= u.lastName %></li>
	<% end %>
</ul>

	<% if ! signed_in? %>
		<%= link_to "Sign in", signin_path %> or <%= link_to "Sign up", new_user_path %> to join as a sub
	<% end %>



