<header class="bar-title">
	<%= link_to image_tag("/assets/previous.png", :height => "18px", :style => "padding: 2px 0 0 0;"), events_path, class: "button", :style => "padding-bottom: 0;" %>
	<h1 class="title">
		Match details
	</h1>
	<% if signed_in? && current_user.id == @event.organizer %>
			<%= link_to "Edit", edit_event_path, class: "button" %>
	<% end %>
</header>

<div class="content content-padded">
	<h1 class="title">
		<% if @event.status == "full" && @event.start > Time.now %>
			Game full
		<% elsif @event.start < Time.now %>
			Game ended
		<% elsif @event.needed - @event.users.count == 1 %>
			<%= @event.needed - @event.users.count %> sub still needed
		<% else %>
			<%= @event.needed - @event.users.count %> subs still needed
		<% end %>
	</h1>

		<% if signed_in? && current_user.id != @event.organizer && @event.start > Time.now %>

			<% if @event.users.select { |u| u.id == current_user.id }.empty? == true && @event.status != "full" %>
				<%= form_for @event, :url => join_path do |f| %>
					<%= f.hidden_field :event_id, :value => @event.id %>
					<%= f.submit 'Join', class: 'button-main button-block' %>
				<% end %> 
			<% end %>

			<% if @event.users.select { |u| u.id == current_user.id }.empty? == false %>
				<%= form_for @event, :url => leave_path do |f| %>
					<%= f.hidden_field :event_id, :value => @event.id %>
					<%= f.submit 'Leave', class: 'button-block' %>
				<% end %>
			<% end %> 

		<% end %>

	<ul class="list inset details">
		<li><span class="match-detail"><strong>STARTS</strong></span><%= @event.start.strftime("%a, %b %e at %l:%M%P") %></li>
		<li><span class="match-detail"><strong>LOCATION</strong></span><%= @event.location %></li>
		<li><span class="match-detail"><strong>LEAGUE</strong></span><%= @event.league %></li>
		<li><span class="match-detail"><strong>SKILL</strong></span><%= @event.skill_level %></li>
		<li><span class="match-detail"><strong>FIELD</strong></span><%= @event.field_type %></li>
		<li><span class="match-detail"><strong>CAPTAIN</strong></span><%= @organizer.firstName %> <%= @organizer.lastName %></li>
		<% unless @event.note.empty? %>
			<li><span class="match-detail"><strong>NOTE</strong></span><div style="inline; margin: -17px 0 0 100px;"><%= @event.note %></div></li>
		<% end %>
	</ul>


	<h2 style="margin: 30px 0 15px 0;">Subs</h2>

	<% if signed_in? %>
		<ul class="list inset details" style="margin-bottom: 30px;">
			<% @event.users.each do |u| %>
				<% if u.id == current_user.id %>
					<li>You</li>
				<% else %>
					<li><%= u.firstName %> <%= u.lastName %></li>
				<% end %>
			<% end %>

			<% if @event.users.empty? && @event.start > Time.now && current_user.id != @event.organizer %>
				<li>Join this match and be the first sub!</li>
			<% elsif @event.users.empty? && @event.start > Time.now && current_user.id == @event.organizer %>
				<li>Still waiting for subs to join this match.</li>
			<% elsif @event.users.empty? && @event.start < Time.now %>
				<li>Nobody joined this match.</li>
			<% end %> 
		</ul>

	<% elsif ! signed_in? && @event.users.count != 0 %>
		<ul class="list inset details">
			<% @event.users.each do |u| %>
					<li><%= u.firstName %> <%= u.lastName %></li>
			<% end %>
		</ul>

	<% elsif ! signed_in? %>

		<% if @event.users.empty? && @event.start > Time.now %>
			<ul class="list inset details">
				<li><p>Want to play in this match? <%= link_to "Sign in", signin_path %> or <%= link_to "Sign up", new_user_path %>.</p></li>
			</ul>

		<% elsif @event.users.empty? && @event.start < Time.now %>
			<ul class="list inset details">
				<li>Nobody joined this match.</li>
			</ul>
		<% end %> 

	<% end %>

	<% if signed_in? && @comments.empty? != true %>
		<div class ="comments">
			<% if @comments.count == 1 %>
				<h2 style="margin: 30px 0 15px 0;">1 Comment</h2>
			<% elsif @comments.count > 1 %>
			  <h2 style="margin: 30px 0 15px 0;"><%= @comments.count %> Comment</h2>
			<% end %>
				<%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
				<%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
		</div>
	<% elsif signed_in? && @comments.empty? == true %>
		<div class ="comments">
			<h2 style="margin: 30px 0 15px 0;">0 comments</h2>
				<%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
		</div>
	<% elsif ! signed_in? && @comments.empty? != true %>
		<div class ="comments">
			<% if @comments.count == 1 %>
				<h2 style="margin: 30px 0 15px 0;">1 Comment</h2>
			<% elsif @comments.count > 1 %>
			  <h2 style="margin: 30px 0 15px 0;"><%= @comments.count %> Comment</h2>
			<% end %>
				<%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
		</div>
	<% elsif ! signed_in? && @comments.empty? == true %>
		<h2 style="margin: 30px 0 15px 0;">0 comments</h2>
		<p style="margin: 10px 0 15px 0;">Please <%= link_to "Sign in", signin_path %> or <%= link_to "Sign up", new_user_path %> to comment.</p>
	<% end %>
</div>



